html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(34, 15, 22);
}
canvas {
  display: block;
  margin-top: 10em;
  margin: 1.5% auto auto;
  border-radius: 25px;
}

p.frame {
font-size: 1.5em;
text-align: center;
color: rgb(238, 169, 66);
}

div.lore {
width: 50%;
margin: 5% auto auto;
}

p.lore {
font-size: 1.5em;
text-align: left;
padding-left: 4em;
padding-right: 4em;
color: rgb(238, 169, 66);
}